        <!-- ----------------------------footer----------------------------------- -->

<footer class="footer">

    <!-- logo -->

    <h1 class="logoFinal">
        <a href="/">
            <img src="/assets/images/logo.png" alt="Chowder">
        </a>
    </h1>

    <!-- Marca -->
    <div class="footer__brand">
        <h3>Chowder JR</h2>
        <p>Una experiencia divertida estilo Cartoon Network</p>
    </div>

    <!-- Navegación -->
    <div class="footer__links">
        <h3>Enlaces</h3>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Personajes</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>

    <!-- Redes -->
    <div class="footer__social">
        <h3>Síguenos</h3>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="#">X</a>
    </div>

    <!-- Legal -->
    <div class="footer__bottom">
        <p>© 2026 Chowder JR. Todos los derechos reservados.</p>
    </div>

</footer>