
    <!-- ----------------------------header----------------------------------- -->
    
    <header class="text_header">
    <h1 class="logo">
        <a href="/">
            <img src="/assets/images/logo.png" alt="Chowder">
        </a>
    </h1>
</header>


    <!-- ----------------------------Navegacion----------------------------------- -->
    <nav>
        <ul class="nav">
            <li><a href="/index.html"> Inicio </a></li>
            <li><a href="/pages/personajes/index.html"> Personajes </a></li>
            <li><a href="/pages/recetas/index.html"> Recetas </a></li>
            <li><a href="/pages/form/index.html"> Formulario </a></li>
        </ul>
    </nav>
    <!-- ----------------------------Fondito de entrada----------------------------------- -->

<div class="slider">